[submodule "Third-Party/imgui"]
	path = Third-Party/imgui
	url = https://github.com/ocornut/imgui
[submodule "Third-Party/nativefiledialog-extended"]
	path = Third-Party/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
	ignore = untracked
[submodule "Third-Party/yaml-cpp"]
	path = Third-Party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Third-Party/SDL"]
	path = Third-Party/SDL
	url = https://github.com/libsdl-org/SDL
